# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AllucardHome\Documents\GitHub\EstruturaDeDados\EstruturaDeDadosC++\balance-line\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
