# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\AllucardHome\Documents\GitHub\EstruturaDeDados\Partition_interleaving\partition-interleaving\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
